elmoPlus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="https://github.com/ilydlci/elmo-schemas"
	xmlns="https://github.com/ilydlci/elmo-schemas"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:europass="http://europass.cedefop.europa.eu/Europass/V2.0"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd" />
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="https://raw.githubusercontent.com/emrex-eu/elmo-schemas/v1/references/xmldsig-core-schema.xsd" />
	<xs:import namespace="http://europass.cedefop.europa.eu/Europass/V2.0" schemaLocation="https://raw.githubusercontent.com/emrex-eu/elmo-schemas/v1/references/EUROPASS_ISOCountries_V1.1.xsd" />

	<xs:element name="elmoPlus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="validity">
					<xs:annotation>
						<xs:documentation>This describes the validity of a modul.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="start" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>The datetime when the modul, course or class
										starts. It SHOULD contain the timezone
										suffix. Example values: &quot;2015-08-01T12:00:00+02:00&quot;,
										&quot;2015-08-01T10:00:00Z&quot;.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="end" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>The datetime when the modul, course or class
										end. It SHOULD contain the timezone
										suffix. Example values: &quot;2015-08-01T12:00:00+02:00&quot;,
										&quot;2015-08-01T10:00:00Z&quot;.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="prerequisiteParticipation" type="TokenWithOptionalLang">
					<xs:annotation>
						<xs:documentation>This describes the prerequisite knowledge a
							student needs to have to participate in this modul.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="prerequisiteAwardingCP" type="TokenWithOptionalLang">
					<xs:annotation>
						<xs:documentation>This describes the prerequisite for the student
							to finalize the modul and acquire credit points.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="losDuration" type="TokenWithOptionalLang">
					<xs:annotation>
						<xs:documentation>This describes the duration in which a student
							can receive all the credit points described.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studyProgramme">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="po" type="xs:string">
									<xs:annotation>
										<xs:documentation>The corresponding examination regulations
											year for the this study programme.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute ref="xml:lang" use="optional">
									<xs:annotation>
										<xs:documentation>The corresponding examination regulations
															language for the title of the modul.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="resultScheme" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The resultSchema for specified modul or course.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="category">
								<xs:annotation>
									<xs:documentation>This describes a single range within the
										histogram.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="grade" type="xs:token" use="required">
										<xs:annotation>
											<xs:documentation>The grade which the student is receiving
												corresponding to the points acquired in the modul.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="points" type="xs:float" use="required">
										<xs:annotation>
											<xs:documentation>The points which the student acquired in
												the modul.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="losUsability">
					<xs:annotation>
						<xs:documentation>A list of corresponding study programmes of this
							Learning Opportunity Specification.

							- This element SHOULD contain the xml:lang attribute. You may skip
							the xml:lang
							attribute only when you really don't know the language which your will be
							using here.

							- You SHOULD try to include the name of the institution both in
							English and
							in the original language.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="studyProgramme" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A list of corresponding study programmes of
										this Learning Opportunity Specification.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="po" type="xs:token" use="required">
												<xs:annotation>
													<xs:documentation>The corresponding examination regulations
														year for the named modul.
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="xml:lang" use="optional">
												<xs:annotation>
													<xs:documentation>The corresponding examination regulations
															language for the title of the modul.
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="reexamination">
					<xs:annotation>
						<xs:documentation>This describes if there are possible
							reexaminations within the semester or after the semester
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="followingSemester" type="xs:token">
								<xs:annotation>
									<xs:documentation>The element can either be true or false.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="semesterEnd" type="xs:token">
								<xs:annotation>
									<xs:documentation>The element can either be true or false.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="workload">
					<xs:annotation>
						<xs:documentation>This describes the workload a student has to put
							in to acquire a certain amount of credits points.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="scheme" type="xs:token">
								<xs:annotation>
									<xs:documentation>Currently there is only one predefined scheme
										you can have here:

										ects - if the scheme is &quot;ects&quot;, then the value element
										MUST contain the number
										of ECTS credits awarded for our learner for completing this
										learning
										opportunity.

										You can also include any number of other credits with custom
										schemes.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="level" type="xs:string">
								<xs:annotation>
									<xs:documentation>This describes the level in which the modul is
										held.
										This can either be Bachelor, Master or PhD.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="totalHours" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>The number of total hours a student has to
										put in as work for this modul.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="selfStudyHours" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>The number of self study hours a student has
										to put in as work for this modul.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="attendanceHours" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>The number of attendance hours a student has
										to put in as work for this modul.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="credits" type="xs:token">
								<xs:annotation>
									<xs:documentation>The number of credits possible to acquire for
										this modul.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="accountable">
					<xs:annotation>
						<xs:documentation>This describes the accountable person for the
							information detailed i the modul description and additional los
							information.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="title" type="xs:token">
								<xs:annotation>
									<xs:documentation>The title of the accountable person. All
										servers MUST provide it (if it is impossible
										for some reason, please provide an empty string here).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="givenNames" type="xs:token">
								<xs:annotation>
									<xs:documentation>The given names of the accountable person.
										All servers MUST provide it (if it is impossible
										for some reason, please provide an empty string here).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="familyNames" type="xs:token">
								<xs:annotation>
									<xs:documentation>The family name of the accountable person.
										All servers MUST provide it (if it is impossible
										for some reason, please provide an empty string here).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="email" type="xs:token">
								<xs:annotation>
									<xs:documentation>The email address for the accountable person.
										All servers MUST provide it (if it is impossible
										for some reason, please provide an empty string here).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Common types with simple content. -->
	<xs:complexType name="TokenWithOptionalLang">
		<xs:annotation>
			<xs:documentation>A xs:token value with at optional xml:lang
				attribute. It is used in places
				where server developers may provide the name of an entity in multiple
				languages.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>   
 