types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	targetNamespace="http://purl.org/net/elmo"
	xmlns="http://purl.org/net/elmo"
	elementFormDefault="qualified">
	
	<xs:import schemaLocation="http://www.w3.org/2001/03/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>

	<!-- This schema defines some common type definitions reused in other schemas -->
	<!-- Note this is a "chameleon" schema - the types will take on the NS of 
		the schema that includes them -->

	<xs:complexType name="SimpleLiteral">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Permits text content only with optional xml:lang attribute.
				Text is allowed because mixed="true", but sub-elements are disallowed because minOccurs="0" and maxOccurs="0" are on the xs:any tag.
				This complexType allows for restriction or extension permitting child elements.
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent mixed="true">
			<xs:restriction base="xs:anyType">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Description" mixed="true">
		<xs:attribute ref="xml:lang" use="optional" />
		<xs:attribute name="href" type="xs:anyURI" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="DateAndTimeInformation">
		<xs:attribute name="dtf" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="Duration">
		<xs:attribute name="interval" use="optional"/>	
	</xs:complexType>

</xs:schema>
  