full/ELMO_full.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	targetNamespace="http://purl.org/net/elmo"
	xmlns="http://purl.org/net/elmo"
	elementFormDefault="qualified">
	
	<xs:import schemaLocation="http://www.w3.org/2001/03/xml.xsd"
		namespace="http://www.w3.org/XML/1998/namespace" />
	
	<!-- Top level tags -->
	<xs:element name="elmo" type="elmo_base"/>
	
	<xs:element name="report" type="Report"/>
	
	<xs:element name="diplomaSupplement" type="DiplomaSupplement"/>
	
	<xs:element name="learningOpportunitySpecification" type="LearningOpportunitySpecification"/>
	
	<!-- Classes -->
	<xs:complexType name="elmo_base">
		<xs:sequence>
			<xs:element ref="learningOpportunitySpecification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="report" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="diplomaSupplement" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Report">
		<xs:sequence>
			   <xs:element name="learner" type="Learner" minOccurs="1" maxOccurs="1"/> 
			   <xs:element name="issuer" type="LearningOpportunityProvider" minOccurs="1" maxOccurs="1"/>     
			   <xs:element name="learningOpportunitySpecification" type="LearningOpportunitySpecification" minOccurs="0" maxOccurs="unbounded"/>
			   <xs:element name="additionalInformation" type="Description" minOccurs="0" maxOccurs="1"/>
			   <xs:element name="issueDate" type="DateAndTimeInformation" minOccurs="1" maxOccurs="1"/>  
			   <xs:element name="additionalLanguage" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
			   <xs:element name="attachment" type="Attachment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DiplomaSupplement">
		<xs:sequence>
			   <xs:element name="learner" type="Learner" minOccurs="1" maxOccurs="1"/> 
			   <xs:element name="issuer" type="LearningOpportunityProvider" minOccurs="1" maxOccurs="1"/>     
			   <xs:element name="programme" type="Programme" minOccurs="1" maxOccurs="1"/>
			   <xs:element name="additionalInformation" type="Description" minOccurs="0" maxOccurs="1"/>
			   <xs:element name="issueDate" type="DateAndTimeInformation" minOccurs="1" maxOccurs="1"/>  
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Programme">
		<xs:complexContent>
			<xs:extension base="LearningOpportunitySpecification">
				<xs:sequence>
					<xs:element name="degreeProgrammeAccessToFurtherStudies" type="Description"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Learner">
		<xs:sequence>
				<xs:element name="identifier" type="TypedLiteral"  minOccurs="1" maxOccurs="unbounded"/> 
				<xs:element name="fullName" type="SimpleLiteral"  minOccurs="0" maxOccurs="1"/>     
				<xs:element name="givenNames" type="SimpleLiteral"  minOccurs="0" maxOccurs="1"/>   
				<xs:element name="familyName" type="SimpleLiteral"  minOccurs="0" maxOccurs="1"/> 
				<xs:element name="bday" type="DateAndTimeInformation" minOccurs="0" maxOccurs="1"/>  
				<xs:element name="gender" type="Gender" minOccurs="0" maxOccurs="1"/>
				
				<!--  The following come from the DS profile -->
				<xs:element name="placeOfBirth" type="SimpleLiteral" minOccurs="0" maxOccurs="1"/>
				<xs:element name="countryOfBirth" type="SimpleLiteral" minOccurs="0" maxOccurs="1"/>
								 
		</xs:sequence>
        <xs:attribute name="idref" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="LearningOpportunityObject" abstract="true">
		<xs:sequence>	
			<xs:element name="contributor" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>	                   
			<xs:element name="date" type="DateAndTimeInformation" minOccurs="0" maxOccurs="unbounded"/>	                   
			<xs:element name="description" type="Description" minOccurs="0" maxOccurs="unbounded"/>                  
			<xs:element name="identifier" type="TypedLiteral" minOccurs="0" maxOccurs="unbounded"/>                
			<xs:element name="subject" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>             
			<xs:element name="title" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="type" type="TypedLiteral" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        <xs:attribute name="id" use="optional"/>
	</xs:complexType>
	    
	<xs:complexType name="LearningOpportunityProvider">
		<xs:complexContent>
			<xs:extension base="LearningOpportunityObject">	                
				<xs:sequence>
					<xs:element name="location" type="locationDType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="offers" type="LearningOpportunitySpecificationAssociation" minOccurs="0" maxOccurs="unbounded"/>       
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	    
	<xs:complexType name="LearningOpportunitySpecification">
		<xs:complexContent>
			<xs:extension base="LearningOpportunityObject">     
				<xs:sequence>
					<xs:element name="qualification" type="Qualification" minOccurs="0" maxOccurs="1"/>    
					<xs:element name="credit" type="Credit" minOccurs="0" maxOccurs="unbounded"/>   
					<xs:element name="level" type="Level" minOccurs="0" maxOccurs="unbounded"/>        
					<xs:element name="learningOutcome" type="LearningOutcome" minOccurs="0" maxOccurs="unbounded"/> <!-- cf. BS 8581 -->
					<xs:element name="specifies" type="Specifies" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="hasPart" type="LearningOpportunitySpecificationAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="objective" type="Description" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="prerequisite" type="Description" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	    
	<xs:complexType name="LearningOpportunityInstance">
		<xs:complexContent>         
			<xs:extension base="LearningOpportunityObject">                
				<xs:sequence>               
					<xs:element name="location" type="locationDType" minOccurs="0" maxOccurs="unbounded"/>    
					<xs:element name="start" type="DateAndTimeInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="duration" type="Duration" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="cost" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="languageOfInstruction" type="SimpleLiteral" minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="prerequisite" type="Description" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="places" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="engagement" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="objective" type="Description" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="offeredAt" type="OfferedAt" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="assessment" type="Description" minOccurs="0" maxOccurs="unbounded"/>
					
					<!-- These properties are added to Learning Opportunity Instance by ELM -->
					<xs:element name="result" type="Result" minOccurs="0" maxOccurs="1"/>
					<xs:element name="gradingScheme" type="SimpleLiteral" minOccurs="0" maxOccurs="1"/>
					<xs:element name="languageOfAssessment" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
					
					<!-- ELMO Extension -->
					<xs:element name="engagementHours" type="TypedLiteral" minOccurs="0" maxOccurs="unbounded"/>  
					<xs:element name="resultDistribution" type="ResultDistribution" minOccurs="0" maxOccurs="1"/>              
					<xs:element name="shortenedGradingTable" type="ShortenedGradingTable" minOccurs="0" maxOccurs="1"/>              
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Properties of Qualification are specified by ELM -->
	<xs:complexType name="Qualification">
			<xs:sequence>              
				<xs:element name="identifier" type="TypedLiteral" minOccurs="0" maxOccurs="unbounded"/>                          
				<xs:element name="title" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/> 
				<xs:element name="educationLevel" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<!--  Added for the DS -->
				<xs:element name="qualificationHolderTitle" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="qualificationInfoSource" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="qualificationMainStudyField" type="SimpleLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="professionalStatus" type="Description" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Credit">
		<xs:sequence>
			<xs:element name="scheme" type="SimpleLiteral" maxOccurs="1" minOccurs="0"/>
			<xs:element name="level" type="Level" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element name="value" type="SimpleLiteral" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType  name="LearningOpportunitySpecificationAssociation">
		<xs:sequence>
			<xs:element name="learningOpportunitySpecification" type="LearningOpportunitySpecification"/>
		</xs:sequence>
        <xs:attribute name="idref" use="optional"/>
	</xs:complexType>
	
	<xs:complexType  name="Specifies">
		<xs:sequence>
			<xs:element name="learningOpportunityInstance" type="LearningOpportunityInstance"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType  name="OfferedAt">
		<xs:sequence>
			<xs:element name="learningOpportunityProvider" type="LearningOpportunityProvider"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- Defined as a separate type to allow extension -->
	<xs:complexType name="Result">
		<xs:simpleContent>
			<xs:extension base="SimpleLiteral">
				<xs:attribute name="scheme" use="optional"/>
				<xs:attribute name="number" type="xs:decimal" use="optional"/> 
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="ResultDistribution">
	   <xs:sequence>
	       <xs:element name="category" type="Section"  minOccurs="0" maxOccurs="unbounded"/>
	       <xs:element name="description" type="Description" minOccurs="0" maxOccurs="1"/>
	   </xs:sequence>
	</xs:complexType>
	
	
	<!-- potential to add in a link here to LOC info for an interval -->
	<xs:complexType name="Section">
		<xs:attribute name="locref" type="xs:anyURI" use="optional"/>
		<xs:attribute name="label" use="required"/>
		<xs:attribute name="count" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="ShortenedGradingTable">
		<xs:sequence>
		   <xs:element name="percentageLower" type="xs:decimal" minOccurs="1" maxOccurs="1"/> 
		   <xs:element name="percentageEqual" type="xs:decimal" minOccurs="1" maxOccurs="1"/>     
		   <xs:element name="percentageHigher" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SimpleLiteral">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="TypedLiteral">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Description" mixed="true">
		<xs:sequence>
			<xs:any minOccurs="0" processContents="lax"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional" />
		<xs:attribute name="href" type="xs:anyURI" use="optional" />
	</xs:complexType>

	<xs:complexType name="DateAndTimeInformation">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="dtf" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Duration">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="interval" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="elmoDuration">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="duration" use="optional" type="xs:duration" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="LearningOutcome">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang"/>
				<xs:attribute name="href" type="xs:anyURI" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="Attachment">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="desc" type="xs:string" use="optional" />
				<xs:attribute name="name" type="xs:string" use="optional" />
				<xs:attribute name="contentType" type="xs:string" use="optional" />
				<xs:attribute name="ref" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- Human sex, conforms to ISO/IEC 5218:2004. -->
	<xs:simpleType name="Gender">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Study levels: Bachelor (1) Master (2) Ph.D (3) Any (4) -->
	<xs:simpleType name="Level">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- FIXME -->    
	<xs:complexType name="locationDType"/>

</xs:schema>